[mysqld]
datadir         = /data/mysql_data/
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
expire_logs_days = 3
user            = mysql
log-bin         = mysql-bin
key_buffer_size      =  512M
max_allowed_packet = 3M
sort_buffer_size =  1M
net_buffer_length = 8K
read_buffer_size  =   1M
read_rnd_buffer_size =  256M
myisam_sort_buffer_size =  32M
back_log          = 512
skip-name-resolve
max_connections=600
query_cache_size = 128M
tmp_table_size   = 512M
thread_cache_size=200
slow-query-log
long_query_time = 1
log-queries-not-using-indexes
innodb_buffer_pool_size = 1024M
innodb_autoextend_increment = 128
innodb_log_file_size = 512M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table=1
event_scheduler = ON
wait_timeout = 28800000

collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/data/mysql_data/mysqld.pid

[client]
default-character-set=utf8
socket=/var/lib/mysql/mysql.sock